
.game-stats {
  text-align: center;
  font-size: 3em;
}

#word-display {
  text-align: center;
  font-size: 3em;
  margin-top: 10px;
  margin-bottom: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
}

footer {
  text-align: center;
}

#end-game-button, .leader-board, #hanging-man, #user-input, #rules-explanation {
  display: none;
}

#end-game-button {
  margin: 0 auto;
}

#rules-explanation {
  padding: 10px 300px !important;
}

img {
  height: 80%;
  width: 20%;
  display: inline;
}

 
